{% extends "todoList/basic_template.html" %}

{% block navbar_urls %}
<li><a href="{% url 'todoList:index' %}">TODOs</a></li>
<li><a href="{% url 'todoList:erstellen' %}">Erstellen</a></li>
<li><a href="{% url 'todoList:impressum' %}">Impressum</a></li>
{% endblock %}

{% block content %}
{% if todo %}
<div class="container">
    <h1>Eintrag ändern</h1>
    <form>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="comment"></label>
                    <textarea class="form-control" rows="5" id="comment">{{ todo.todo_text }}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                        <input id="progress-input" type="number" class="form-control" placeholder="Fortschritt" min="0" max="100" value="{{ todo.percentage }}">
                    </div>
                    <div class="input-group">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="date" id="edit-date-picker" class="form-control" name="deadline">
                </div>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-warning btn-block pull-right">Ändern</button>
            </div>
        </div>
    </form>
</div>
{% else %}
<div>There is no such element</div>
{% endif %}
{% endblock %}

{% block js %}
<script>
    $('#edit-date-picker').val('{{todo.deadline_date}}');
</script>
{% endblock %}
