{% extends "todoList/basic_template.html" %}

{% block navbar_urls %}
<li><a href="{% url 'todoList:index' %}">TODOs</a></li>
<li class="active"><a href="{% url 'todoList:erstellen' %}">Erstellen</a></li>
<li><a href="{% url 'todoList:impressum' %}">Impressum</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Neuer Eintrag</h1>
    <form action="{% url 'todoList:save' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="comment"></label>
                    <textarea class="form-control" rows="5" name="todo_text" id="comment"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                        <input id="progress-input" type="number" name="percentage" class="form-control" placeholder="Fortschritt" min="0" max="100">
                    </div>
                    <div class="input-group">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="date" id="edit-date-picker" class="form-control" name="deadline_date">
                </div>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success btn-block pull-right">Speichern</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}