{% extends "todoList/basic_template.html" %}

{% block navbar_urls %}
<li><a href="{% url 'todoList:index' %}">TODOs</a></li>
<li><a href="{% url 'todoList:erstellen' %}">Erstellen</a></li>
<li><a href="{% url 'todoList:editieren' '1' %}">Editieren</a></li>
<li class="active"><a href="{% url 'todoList:impressum' %}">Impressum</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Impressum</h1>
    </div>
    <p>Henryk Iwaniuk</p>
    <p>Julia Kaschner</p>
    <p>Vincent Szlang</p>
</div>
{% endblock %}